.CreateGroupViewContent{
    width: 700px;
}

.CreateGroupViewContent-TopContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
}
.CreateGroupViewContent-BottomContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
}