.BottomRightContainerButton{
    position: absolute;
    gap: 12px;
    margin-left: 1060px;
    margin-top: 749px;
}
@media screen and (max-width: 1250px) {
    .BottomRightContainerButton{
        margin-left: 760px;
    }
  }
  @media screen and (max-width: 900px) {

    .BottomRightContainerButton{
        margin-left: 0px;
    }
  }

