.NavBarLogoRedirect{
    color: #FA5B35;
    font-size: 42px;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    .NavBarLogoRedirect{
        font-size: 30px;
    }
}

@media screen and (max-width: 400px){
    .NavBarLogoRedirect{
        font-size: 25px;
    }
}