.RowedItemsContainer{
    display: flex;
    flex-direction: column;
}
.RowedItemsContainer-Row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.RowedItemsContainer-OneColumnEdition{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}