.NavBarConditionalRedirect{
    background: transparent;
    border: transparent;
    font-size: 21px;
    font-weight: 100;
    transition-duration: 0.3s;
    z-index: 9;
}
.NavBarConditionalRedirect:hover{
    color: #FA5B35;
    cursor: pointer;
    margin-top: 7px;
}