.TextView{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 275px;
    text-decoration: none;
}

.TextView-Preview{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #fbfbfb;
}
.TextView-Text{
    font-weight: bold;
    font-size: 20px;
}