.RegisterBox {
    left: calc(50vw - 250px);
    top: calc(50vh - 300px);
    width: 500px;
}

@media screen and (max-width: 500px) {
    .RegisterBox {
        width: 95%;
        left: calc(50vw - 47.5%);
    }
}

