.RegisterBox {
    left: calc(50vw - 250px);
    top: calc(50vh - 325px);
    width: 500px;
}

@media screen and (max-height: 800px) {
    .RegisterBox {
        top: calc(50vh - 300px);
    }
}

@media screen and (max-height: 600px) {
    .RegisterBox {
        top: 0px;
    }
}


@media screen and (max-width: 500px) {
    .RegisterBox {
        width: 95%;
        left: 2.5%;
    }
}

