.CreateGroupSubmitButton{
    border: 2px solid #222222;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    width: 150px;
}
.CreateGroupSubmitButton-Text{
    font-weight: bold;
    font-size: 22px;
}
.CreateGroupSubmitButton-Img{
    height: 30px;
}

.CreateGroupSubmitButton:hover{
    cursor: pointer;
}