.VerticalInput{
    display: flex;
    flex-direction: column;
}
.VerticalInput-Title{
    font-weight: bold;
    font-size: 18px;
}
.VerticalInput-Input{
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .VerticalInput-Input{
        height: 50px;
        width: 300px;
    }
    .VerticalInput-Title{
        font-size: 25px;
    }
  }