.UserSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.UserSearch-Input{
    font-size: 15px;
    height: 50px;
    width: 200px;
    font-weight: bold;
    border: none;
    outline: none;
}

.UserSearch-Img{
    height: 23px;
}
.UserSearch-Text{
    font-size: 15px;
}
.UserSearch:hover{
    cursor:text;
}
.SearchBar{
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.ShowInputSearchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.NonSelectedSearchBarContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .SearchBar{
        width: 150px;
    }
    .UserSearch-Input{
        width: 150px;
    }

  }
