.GroupsViewContainer{
    display: flex;
    flex-direction: column;
}
.GroupsViewContainer-Row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    width: 1200px;
}