
.FooterWrapper{
    height:50px;
    text-align: center;
    font-size: 16px;
}
@media screen and (max-width: 700px) {
    .FooterWrapper{
        font-size: 12px;
    }
  }

  @media screen and (max-width: 350px) {
    .FooterWrapper{
        font-size: 10px;
    }
  }