.ForgotPasswordBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    position: absolute;
    left: calc(50vw - 250px);
    top: calc(50vh - 150px);
    z-index: 1001;
    width: 500px;
    height: 300px;
    border-radius: 14px;
    background: white;
}

.ExitButtonContainer{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.inputcontainer-forgotpassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 200px;
}
