.TextsViewPageView{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
    width: 1200px;
}

@media screen and (max-width: 1400px) {
  .TextsViewPageView{
      width: 900px;
  }
}

@media screen and (max-width: 900px) {
  .TextsViewPageView{
      width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .TextsViewPageView{
      width: 500px;
  }
}
