.GroupMembersView{
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.GroupMembersView-Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.GroupMembersView-Title{
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .GroupMembersView-Header{
        flex-direction: column;
        justify-content: center;
    }
  }
