.LoginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    position: absolute;
    left: calc(50vw - 250px);
    top: calc(50vh - 300px);
    z-index: 1001;
    width: 500px;
    border-radius: 10px;
    background: white;
}

.ExitButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.inputcontainer-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    width: 80%;
    margin-top: 10px;
}

.LoginBox-BottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .LoginBox {
        width: 95%;
        left: calc(50vw - 47.5%);
    }
    .inputcontainer-login {
        width: 90%;
    }
}
