.GroupSideBar{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}
.GroupSideBar-Title{
    height: 0px;
    font-size: 25px;
    font-weight: bold;
}
.AlignerDiv{
    width: 100px;
}