.rdp {
    margin: 0px;
  }
.my-selected:not([disabled]) { 
    border: 2px solid currentColor;
}
.my-today { 
    font-weight: bold;
    font-size: 140%; 
}
.GroupCreateAssignmentView{
    margin-top: 70px;
    width: 700px;
}
.CreateAssignment-DaypickerContainer-Text{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    padding-bottom: 20px;
}

.GroupCreateAssignmentView-Top{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 160px;
    height: 400px;
}

.GroupCreateAssignmentView-Bottom{
    justify-content: center;
    display: flex;
    height: 100px;
    margin-top: 50px;
}

@media screen and (max-width: 1100px) {
    .GroupCreateAssignmentView{
        width: 500px;
    }
    .GroupCreateAssignmentView-Top{
        gap: 60px;
        margin-left: 0px;
        margin-top: 0px;
    }
  }

  @media screen and (max-width: 800px) {
    .GroupCreateAssignmentView{
        width: 300px;
        gap: 50px;
    }
    .GroupCreateAssignmentView-Top{
        flex-direction: column;
        height: 600px;
    }

    .VerticalInput-Title{
    font-weight: bold;
    font-size: 22px;
    }
    .VerticalInput-Input{
       width: 240px;
       height: 50px;
    }
  }

