
.GroupsView{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 1250px;
    padding: 10px,10px,10px,10px;
    border-radius: 10px;
}
.GroupFiller{
    width: 275px;
    height: 245px;
}