.AddUserButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100px;
    height: 30px;
    border: 2px solid #222222;
    border-radius: 4px;
}
.AddUserButton:hover{
    cursor: pointer;
}
.AddUserButton-Text{
    font-size: 16px;
    font-weight: bold;
}
