.HomePageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    position: absolute;
    z-index: 1001;
    border-radius: 10px;
    background: white;
}

.ExitButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.InputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    width: 80%;
    margin-top: 10px;
}

.HomePageBox-BottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .HomePageBox {
        width: 95%;
        left: calc(50vw - 47.5%);
    }
    .inputcontainer-login {
        width: 90%;
    }
}
