.CheckBoxButton{
    display:flex;
    flex-direction: row;
    border: transparent;
    background: transparent;
    align-items: center;
    height: 50px;
    gap: 5px;
}

.CheckBoxButton-Input{
    height: 16px;
    width: 16px;
}

.CheckBoxButton-Text{
    font-size: 16px;
}