# Exclude Node and .NET build artifacts
node_modules
npm-debug.log

bin/
obj/

# Exclude IDE and editor specific files
.vs/
.vscode/
*.dbmdl
*.jfm

# Exclude OS-specific files and temporary files
.DS_Store

# Exclude environment files and Docker config templates (if any)
**/.env
**/docker-compose*
**/Dockerfile*
**/secrets.dev.yaml
**/values.dev.yaml

# Exclude git repository files
.git
.gitignore

# (Optional) Exclude other folders you don't need:
charts/

# Ensure that essential configuration files are included,
# even if they match one of the above patterns.
!**/vite.config.js
!**/package.json
!**/ThyniusWeb.Server.csproj
!README.md
!LICENSE