.CreateGroupView{
    padding-top: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.CreateGroupContainer{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    padding: 0px 40px 40px;
    margin-bottom: 40px;

}