.NavBarButtonRedirect{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height:50px;
    width: 125px;
    background-color: var(--themeMainColor);
    color: black;
    transition-duration: 0.2s;
    z-index: 9;
    border: none;
}
.NavBarButtonRedirect:hover{
    cursor: pointer;
    background-color: rgba(255, 123, 90, 0.706);
    
}
.NavBarButtonRedirect-png{
    width:20px;
}
.NavBarButtonRedirect-text{
    font-size: 18px;
}

  @media screen and (max-width: 800px) {
    .NavBarButtonRedirect{
        border-radius: 8px;
        height:40px;
        width: 90px;
    }
    .NavBarButtonRedirect-png{
        width:15px
    }
    .NavBarButtonRedirect-text{
        font-size: 14px;
    }
  }

  
  @media screen and (max-width: 400px) {
    .NavBarButtonRedirect{
        border-radius: 6px;
        height:35px;
        width: 75px;
        gap: 2px;
    }
    .NavBarButtonRedirect-png{
        width:13px
    }
    .NavBarButtonRedirect-text{
        font-size: 13px;
    }
  }