.CreateAssignmentSubmitButton{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    height: 50px;
    width: 170px;
    margin-right: 100px;
}
.CreateAssignmentSubmitButton-Text{
    font-weight: bold;
    font-size: 22px;
}
.CreateAssignmentSubmitButton-Img{
    height: 30px;
}

.CreateAssignmentSubmitButton:hover{
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .CreateAssignmentSubmitButton{
        margin-right: 10px;
        height: 60px;
        width: 300px;
    }
  }
