.InfoRowsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.InfoRowsContainer-Title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    .InfoRowsContainer-Title{
        color: white;
        font-weight: bold;
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .InfoRowsContainer-Title{
        color: white;
        font-weight: bold;
        font-size: 18px;
    }
}