.CreateAssignmentButtonContainer{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
}
.CreateAssignmentButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    border-radius: 3px;
    margin-top: 5px;
    height: 50px;
    gap: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.CreateAssignmentButton-Img{
    height: 23px;
}
.CreateAssignmentButton-Text{
    font-size: 20px;
    font-weight: bold;
}
.CreateAssignmentButton:hover{
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    .CreateAssignmentButtonContainer{
        justify-content: center;
    }
  }