.GroupMember{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.GroupMember-DeleteButton{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.GroupMember-DeleteButton:hover{
    cursor: pointer;
}
.GroupMember-Text{
    font-weight: bold;
    font-size: 16px;
}
.GroupMember-DeleteImg{
    height: 20px;
}